@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

header {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

span {
    position: absolute;
    right: 30px;
    width: 75px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

main {
    margin: 40px 110px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

li img {
    width: 100px;
    height: 100px;
}

.principal {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front-face {
    transform: rotateY(0deg);
  }

.back-face {
    transform: rotateY(180deg);
  }

.virar-back {
    transform: rotateY(0deg);
}

.virar-front {
    transform: rotateY(-180deg);
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    span {
        display: none;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    div:first-of-type {
        margin-top: 0;
    }
}